@charset "utf-8";

$body-size: 18px;
$family-sans-serif: 'Sarabun', Tahoma, sans-serif;
$body-line-height: 2;

$gap: 64px !default;
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 960px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 960px + (2 * $gap) !default;
$fullhd-enabled: true !default;

.content > p > img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

// @import 'bulma/sass/utilities/_all.sass';
// @import 'bulma/sass/base/_all.sass';
// @import 'bulma/sass/components/navbar.sass';
// @import 'bulma/sass/elements/container.sass';
// @import 'bulma/sass/elements/content.sass';
// @import 'bulma/sass/elements/tag.sass';
// @import 'bulma/sass/elements/title.sass';
