---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="fixed top-0 left-0 right-0 bg-white h-[72px] border-b-[1px] px-4 z-50">
		<div class="container mx-auto flex justify-between items-center h-full">
			<div class="branding">
				<a>
					<p>Logo</p>
				</a>
			</div>
			<div class="webring">
				<a href="https://webring.wonderful.software#microbenz.in.th" title="วงแหวนเว็บ" target="_blank" rel="noopener noreferrer">
					<img
            alt="วงแหวนเว็บ"
            width="32"
            height="32"
            src="https://webring.wonderful.software/webring.black.svg"
          />
				</a>
			</div>
		</div>
	</nav>
</header>
