---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = {
	title?: string;
	featuredImage?: string;
};

const { title = 'เบนซ์เขียนบล็อกนะจ๊ะ - MicroBenz', featuredImage } = Astro.props;
---

<html lang="th">
	<head>
		<BaseHead title={title} featuredImage={featuredImage} />
		<!-- Google Tag Manager -->
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
		</script>
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PG7TDJDN');</script>
		<script
			src="https://app.rybbit.io/api/script.js"
			data-site-id="942"
			defer
		></script>
		<!-- End Google Tag Manager -->
	</head>

	<body class="font-sans bg-white text-celestial-blue">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG7TDJDN"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Header />
		<main class="container mx-auto pt-[84px] md:pt-[88px] pb-[84px] md:pb-[88px] px-6 md:px-0">
			<slot />
		</main>
		<Footer />
	</body>
</html>
